{% extends "padre.html" %}

{% block titulo %}
    Agregar Carreras
{% endblock %}

{% block contenido %}

{% if formularioA %}
    <h1>Aca se agregan carreras</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <table>
        {{formularioA}}
        </table>
        <input type="submit", value="Enviar">
    </form>
{% elif new_carrera %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{new_carrera.carrera}}</h5>
            <p class="card-text">{{new_carrera.descripcion}}</p>
            <p class="card-text">{{new_carrera.cantidad_de_materias}}</p>
            <p class="card-text">{{new_carrera.duracion}}</p>
        </div>
    </div>

{% endif %}
{% endblock %}