{% extends "padre.html" %}

{% block titulo %}
    Borrar Carrera
{% endblock %}

{% block contenido %}

{% if carrera %}
<h3 style="color:red">Estas por eliminar la carrera {{carrera.carrera}} {{carrera.descripcion}}, estas seguro?</h3>

</form>
<form action = "/carreras/borrar-carrera/{{carrera.id}}/" method = "POST">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
    <a href="/carreras/detalle-carrera/{{carrera.id}}/" class="btn btn-secondary">Volver</a>
</form>

{% else %}
    {{message}}
{% endif %}

{% endblock %} 