
{% extends "padre.html" %}

{% block titulo %}
    Carreras
{% endblock %}

{% block contenido %}
<h1 style="margin-left:60rem">Aca se visualizan las Carreras</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for carrera in object_list %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Carrera: {{carrera.carrera}}</h5>
            <p class="card-text">Descripcion: {{carrera.descripcion}}</p>
            <p class="card-text">Materias: {{carrera.cantidad_de_materias}}</p>
            <a href="/carreras/detalle-carrera/{{carrera.id}}/" class="btn btn-primary">Ver +</a>
        </div>
    </div>

    {% endfor %}
</div>
<br>
<a href="/carreras/agregar-carrera" type="button" class="btn btn-dark">Agregar Carrera</a>

{% endblock %} 


