{% extends "padre.html" %}

{% block titulo %}
Contactanos
{% endblock %}

{% block contenido %}
<h1>Suerte campeon! </h1>

<div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="..." class="w-100" alt="...">
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
        <h5 class="mt-0">Columns with stretched link</h5>
        <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
    </div>
</div>
{% endblock %}