{% extends "padre.html" %}

{% block titulo %}
Contactanos
{% endblock %}

{% block contenido %}
<h1>Suerte campeon! </h1>

<div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="https://scontent.faep9-2.fna.fbcdn.net/v/t31.18172-8/1278771_10151953508294252_324875724_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=3O3aaLts3DUAX_ye_z3&tn=G_UYnwPtqIAtJGoU&_nc_ht=scontent.faep9-2.fna&oh=00_AT-uAw1Y_9jusX04C3plfdJlTMSRUMA4b-OysgzH-rjb2Q&oe=62EA972B" class="w-100" alt="...">
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
        <h5 class="mt-0">Mauro Pasinato</h5>
        <p>Soy una persona que cambió completamente su camino en la vida, empecé con ingeniería en informática, Arquitectura y diseño gráfico. Ahora por el camino de la programación, no se si sera porque empecé con python, pero me genera aprender cada vez más de programación, muy posiblemente no logre hacer todo lo que quería en este proyecto, por falta de tiempo o el hacerlo solo, pero pareció genial, poder hacer esta pagina y se que me falta mucho, pero este es el primer ladrillo haciendo mi camino en el mundo de la programación.</p>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1280" height="691" src="https://www.youtube.com/embed/xCppvQfN0PE" title="WASD   primera pagina wed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>La pagina contiene
            Log-in, log-out, registrarse, editar perfiles
            Separada en 4 apps, Alumnos, Carreras, Docentes, User.
                    en cada app se puede con 'permisos' Agregar, editar o eliminar.
            Esta compuesta de index, alumnos, carreras, docentes, acerca de mi.
            Posee un buscador por apellidos o carreras.</p>
    </div>
</div>
{% endblock %}