{% extends "padre.html" %}

{% block titulo %}
    Docente Detalles
{% endblock %}

{% block contenido %}
<h1>aca se visualizan los detalles de Docente</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">nombre: {{docente.nombre}}</h5>
            <p class="card-text">apellido: {{docente.apellido}}</p>
            <p class="card-text">nacimiento: {{docente.nacimiento}}</p>
            <p class="card-text">edad: {{docente.edad}}</p>
            <p class="card-text">materia:{{docente.materia}}</p>
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    Acciones
                </a>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/docentes/editar-docente/{{docente.id}}">Editar</a>
                    <a class="dropdown-item" href="/docentes/borrar-docente/{{docente.id}}">Eliminar</a>
                </div>
        </div>
    </div>

</div>

{% endblock %} 