{% extends "padre.html" %}

{% block titulo %}
    Borrar Docente
{% endblock %}

{% block contenido %}


<h3 style="color:red">Estas por eliminar el docente {{docente.apellido}} {{docente.nombre}}, estas seguro?</h3>

</form>
<form action = "/docentes/borrar-docente/{{docente.id}}/" method = "POST">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
    <a href="/docentes/detalle-docente/{{docente.id}}/" class="btn btn-secondary">Volver</a>
</form>

{% endblock %} 