{% extends "padre.html" %}

{% block titulo %}
WASD
{% endblock %}

{% block contenido %}
<div class="shadow-lg p-3 mb-5 bg-white rounded"><h1 style="margin-left:40rem">Bienvenidos a la Academia Internacional de Video juegos</h1></div>
<h3>{{message}}</h3>
<div class="d-flex p-2 bd-highlight">Una academia especificamente para todos los hardcore gamers del mundo, especializados en no hits, speed run, 100%, etc. 
    Especialmente para las personas que se desviven por los videos juegos, de todos los generos: accion, arcade, aventura, deportes, estrategia, simuladores, de ritmo, rogue-like, rogue-lite, soulslike, etc.</div>
<h4>
<img src="..." class="img-fluid" alt="...">
{% endblock %}