{% extends "padre.html" %}

{% block titulo %}
WASD
{% endblock %}

{% block contenido %}
<h1>Bienvenidos a la Academia Internacional de Video juegos </h1>
<h4>Una academia especificamente para todos los hardcore gamers del mundo, especializados en no hits, speed run, 100%, etc. Especialmente para las personas que se desviven por los videos juegos, de todos los generos: accion, arcade, aventura, deportes, estrategia, simuladores, de ritmo, roguelike, roguelike, soulslike, etc.</h4>
{% endblock %}